* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.tooltip {
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted black;
}

.tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: rgb(41, 10, 10);
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    left: 150px;
    /* Position the tooltip */
    position: absolute;
    z-index: 1;
}

.tooltip:hover .tooltiptext {
    visibility: visible;
}

.container {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

button {
    width: 20%;
    height: 30px;
    margin: 20px;
    border: none;
    background-color: black;
    color: #fff;
    border-radius: 1000px;


}