<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./style.css">
    <title>NETFLIX</title>
</head>

<body>
    <div class="headout bgnone">
        <div class="head bgnone">
            <div class="headleft">

                <img src="./images/Netflix_Logo_PMS.png" alt="netflix">
            </div>
            <div class="headright">
                <select id="462d1e28e9c10" name="LanguageSelect" data-uia="language-picker-header">
                    <option lang="en" label="English" value="en-IN" selected="">English</option>
                    <option lang="hi" label="हिन्दी" value="hi-IN">हिन्दी</option>
                </select>
                <button> Sign in</button>
            </div>
        </div>

    </div>
    <div class="wraper">
        <div class="imgtop">
            <img src="./images/front.jpg" alt="">
        </div>
        <div class="topfade bgnone">
            <h1>Unlimited movies, TV shows and more</h1>
            <p>Watch anywhere. Cancel anytime.</p>
            <h3>Ready to watch? Enter your email to create or restart your membership.</h3>
            <div class="emailwraper">
                <input type="email" name="" id="" placeholder="Email address">
                <button>Get Started</button>
            </div>
        </div>


    </div>
    <div class="padding50">
        <div class="tv">
            <div class="tvleft">
                <h2>Enjoy on your TV</h2>
                <p>Watch on smart TVs, PlayStation, Xbox, Chromecast, Apple TV, Blu-ray players and more.</p>
            </div>
            <div class="tvright">
                <img src="./images/NETFLIXTV.PNG" alt="tv">
            </div>
        </div>

        <div class="hruler"></div>

        <div class="tv colrev">
            <div class="tvleft">
                <img src="./images/mobile-0819.jpg" alt="mobile">

            </div>
            <div class="tvright">
                <h2>Download your shows to watch offline</h2>
                <p>
                    Save your favourites easily and always have something to watch.
                </p>

            </div>
        </div>

        <div class="hruler"></div>

        <div class="tv">
            <div class="tvleft">
                <h2>Watch everywhere</h2>
                <p>
                    Stream unlimited movies and TV shows on your phone, tablet, laptop, and TV.
                </p>
            </div>
            <div class="tvright relative">

                <img src="./images/device-pile-in.png" alt="mobile">
                <div class="gif">
                    <img src= "<%= locals.Poster %>" alt="movei Poster">
                </div>
            </div>

        </div>

        <div class="hruler"></div>

        <div class="tv colrev">
            <div class="tvleft">
                <img src="./images/children.png" alt="children">

            </div>
            <div class="tvright">
                <h2>Create profiles for kids</h2>
                <p>
                    Send children on adventures with their favourite characters in a space made just for them—free with
                    your membership.
                </p>

            </div>
        </div>

        <div class="hruler"></div>


        <h1>Frequently Asked Questions</h1>
        <ul>
            <li>
                <div class="tile">
                    <p>How much does Netflix cost?</p>
                    <span>+</span>
                </div>
            </li>
            <li>
                <div class="tile">
                    <p>Where can I watch?</p>
                    <span>+</span>
                </div>
            </li>
            <li>
                <div class="tile">
                    <p>What can I watch on Netflix?</p>
                    <span>+</span>
                </div>
            </li>
            <li>
                <div class="tile">
                    <p>What can I watch on Netflix?</p>
                    <span>+</span>
                </div>
            </li>
            <li>
                <div class="tile">
                    <p>Is Netflix good for kids?</p>
                    <span>+</span>
                </div>
            </li>
        </ul>

        <div class="hruler"></div>

        <div class="footeremail">
            <p>Ready to watch? Enter your email to create or restart your membership.</p>
            <div class="emailwraper">
                <input type="email" name="" id="" placeholder="Email address">
                <button>Get Started</button>
            </div>
        </div>
        <div class="footer">
            <p>Questions? Call 000-800-100-8343</p>
            <ul class="cards">
                <li >FAQ</li>
                <li >Investor Relations</li>
                <li >Privacy</li>
                <li >Speed Test</li>
                <li >Help Centre</li>
                <li >Jobs</li>
                <li >Cookie Preferences</li>
                <li >Legal Notices</li>
                <li >Account</li>
                <li >Ways to Watch</li>
                <li >Corporate Information</li>
                <li >Only on Netflix</li>
                <li >Terms of Use</li>
                <li >Contact Us</li>
            </ul>
            <br>
            <select id="462d1e28e9c10" name="LanguageSelect" data-uia="language-picker-header">
                <option lang="en" label="English" value="en-IN" selected="">English</option>
                <option lang="hi" label="हिन्दी" value="hi-IN">हिन्दी</option>
            </select>
            <p>Netflix India</p>
              
        </div>




    </div>


</body>

</html>