<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./login.css">
    <title>Document</title>
</head>
<body>
    
    <div class="login-container">
        <h2>Login</h2>
        <form action="/login" method="post">
            <input type="text" name="username" placeholder="Username" required>
            <%if(locals?.message?.username){%>
            <p class="red"><%=(message.username)%></p>
            <%}%>
            <input type="password" name="password" placeholder="Password" required>
            <%if(locals.message){%>
            <p class="red" > <%=(message.password)%></p>
            <%}%>
            <input type="submit" value="Login">
        </form>
    </div>

</body>
</html>